# log file path (default output to stderr)
log-file=/home/test/ab.log

# logging level (DEBUG, INFO, NOTICE, WARNING, ERROR)
log-level=DEBUG

# Specifies the TCP address for the RPC server to listen on, in the form "host:port"
rpc-server-address=localhost:9523

# The maximum duration for reading the entire request, including the body. A zero or negative value means there will be no timeout.
rpc-server-read-timeout=9999

# The amount of time allowed to read request headers. If rpc-server-read-header-timeout is zero, the value of rpc-server-read-timeout is used. If both are zero, there is no timeout.
rpc-server-read-header-timeout=9999

# The maximum duration before timing out writes of the response. A zero or negative value means there will be no timeout.
rpc-server-write-timeout=9999

# The maximum amount of time to wait for the next request when keep-alives are enabled. If rpc-server-idle-timeout is zero, the value of rpc-server-read-timeout is used. If both are zero, there is no timeout.
rpc-server-idle-timeout=9999

# Controls the maximum number of bytes the server will read parsing the request header's keys and values, including the request line.
rpc-server-max-header=9999

# Controls the maximum number of bytes the server will read parsing the request body.
rpc-server-max-body=9999