basePath: /api/v1
definitions:
  anypb.Any:
    properties:
      type_url:
        description: |-
          A URL/resource name that uniquely identifies the type of the serialized
          protocol buffer message. This string must contain at least
          one "/" character. The last segment of the URL's path must represent
          the fully qualified name of the type (as in
          `path/google.protobuf.Duration`). The name should be in a canonical form
          (e.g., leading "." is not accepted).

          In practice, teams usually precompile into the binary all types that they
          expect it to use in the context of Any. However, for URLs which use the
          scheme `http`, `https`, or no scheme, one can optionally set up a type
          server that maps type URLs to message definitions as follows:

          * If no scheme is provided, `https` is assumed.
          * An HTTP GET on the URL must yield a [google.protobuf.Type][]
            value in binary format, or produce an error.
          * Applications are allowed to cache lookup results based on the
            URL, or have them precompiled into a binary to avoid any
            lookup. Therefore, binary compatibility needs to be preserved
            on changes to types. (Use versioned type names to manage
            breaking changes.)

          Note: this functionality is not currently available in the official
          protobuf release, and it is not used for type URLs beginning with
          type.googleapis.com.

          Schemes other than `http`, `https` (or the empty scheme) might be
          used with implementation specific semantics.
        type: string
      value:
        description: Must be a valid serialized protocol buffer of the above specified
          type.
        items:
          type: integer
        type: array
    type: object
  block.Bill:
    properties:
      id:
        items:
          type: integer
        type: array
      is_dc_bill:
        type: boolean
      tx_hash:
        items:
          type: integer
        type: array
      tx_proof:
        $ref: '#/definitions/block.TxProof'
      value:
        type: integer
    type: object
  block.Bills:
    properties:
      bills:
        items:
          $ref: '#/definitions/block.Bill'
        type: array
    type: object
  block.BlockProof:
    properties:
      block_header_hash:
        items:
          type: integer
        type: array
      block_tree_hash_chain:
        $ref: '#/definitions/block.BlockTreeHashChain'
      hash_value:
        description: hash value of either primary tx or secondary txs or zero hash,
          depending on proof type
        items:
          type: integer
        type: array
      proof_type:
        $ref: '#/definitions/block.ProofType'
      sec_tree_hash_chain:
        $ref: '#/definitions/block.SecTreeHashChain'
      transactions_hash:
        items:
          type: integer
        type: array
      unicity_certificate:
        $ref: '#/definitions/certificates.UnicityCertificate'
    type: object
  block.BlockTreeHashChain:
    properties:
      items:
        items:
          $ref: '#/definitions/block.ChainItem'
        type: array
    type: object
  block.ChainItem:
    properties:
      hash:
        items:
          type: integer
        type: array
      val:
        items:
          type: integer
        type: array
    type: object
  block.MerklePathItem:
    properties:
      direction_left:
        description: DirectionLeft direction from parent node; left=true right=false
        type: boolean
      path_item:
        description: PathItem Hash of Merkle Tree node
        items:
          type: integer
        type: array
    type: object
  block.ProofType:
    enum:
    - 0
    - 1
    - 2
    - 3
    - 4
    type: integer
    x-enum-varnames:
    - ProofType_PRIM
    - ProofType_SEC
    - ProofType_ONLYSEC
    - ProofType_NOTRANS
    - ProofType_EMPTYBLOCK
  block.SecTreeHashChain:
    properties:
      items:
        items:
          $ref: '#/definitions/block.MerklePathItem'
        type: array
    type: object
  block.TxProof:
    properties:
      block_number:
        type: integer
      proof:
        $ref: '#/definitions/block.BlockProof'
      tx:
        $ref: '#/definitions/txsystem.Transaction'
    type: object
  certificates.InputRecord:
    properties:
      block_hash:
        description: hash of the block
        items:
          type: integer
        type: array
      hash:
        description: hash to be certified
        items:
          type: integer
        type: array
      previous_hash:
        description: previously certified root hash
        items:
          type: integer
        type: array
      summary_value:
        description: summary value to certified
        items:
          type: integer
        type: array
    type: object
  certificates.UnicityCertificate:
    properties:
      input_record:
        $ref: '#/definitions/certificates.InputRecord'
      unicity_seal:
        $ref: '#/definitions/certificates.UnicitySeal'
      unicity_tree_certificate:
        $ref: '#/definitions/certificates.UnicityTreeCertificate'
    type: object
  certificates.UnicitySeal:
    properties:
      hash:
        items:
          type: integer
        type: array
      previous_hash:
        items:
          type: integer
        type: array
      root_chain_round_number:
        type: integer
      signatures:
        additionalProperties:
          items:
            type: integer
          type: array
        type: object
    type: object
  certificates.UnicityTreeCertificate:
    properties:
      sibling_hashes:
        items:
          items:
            type: integer
          type: array
        type: array
      system_description_hash:
        items:
          type: integer
        type: array
      system_identifier:
        items:
          type: integer
        type: array
    type: object
  money.BalanceResponse:
    properties:
      balance:
        type: integer
    type: object
  money.BlockHeightResponse:
    properties:
      blockHeight:
        type: integer
    type: object
  money.ListBillVM:
    properties:
      id:
        items:
          type: integer
        type: array
      isDCBill:
        type: boolean
      txHash:
        items:
          type: integer
        type: array
      value:
        type: integer
    type: object
  money.ListBillsResponse:
    properties:
      bills:
        items:
          $ref: '#/definitions/money.ListBillVM'
        type: array
      total:
        type: integer
    type: object
  txsystem.Transaction:
    properties:
      owner_proof:
        items:
          type: integer
        type: array
      system_id:
        items:
          type: integer
        type: array
      timeout:
        type: integer
      transaction_attributes:
        $ref: '#/definitions/anypb.Any'
      unit_id:
        items:
          type: integer
        type: array
    type: object
info:
  contact: {}
  description: This service processes blocks from the Money partition and indexes
    ownership of bills.
  title: Money Partition Indexing Backend API
  version: "1.0"
paths:
  /balance:
    get:
      operationId: "2"
      parameters:
      - description: Public key prefixed with 0x
        in: query
        name: pubkey
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/money.BalanceResponse'
      summary: Get balance
  /block-height:
    get:
      operationId: "4"
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/money.BlockHeightResponse'
      summary: Money partition's latest block number
  /list-bills:
    get:
      operationId: "1"
      parameters:
      - description: Public key prefixed with 0x
        in: query
        name: pubkey
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/money.ListBillsResponse'
      summary: List bills
  /proof:
    get:
      operationId: "3"
      parameters:
      - description: ID of the bill (hex)
        in: query
        name: bill_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/block.Bills'
      summary: Get proof
swagger: "2.0"
